main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main>header, main>article, main>footer {
    border: 1px violet solid;
    border-radius: 5px;
    margin: 10px;
    
}

main>article {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

main>article>* {
    margin: 5px;
    border: 1px cyan solid;
}

main>article>div.text {
    flex-grow: 1;
}

header div.senderinfo {
    text-align: right;
}

footer {
    font-style: italic;
    text-align: center;
}
